/*CSS Reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	 scroll-behavior: smooth;
}

body {
	background-color:#54ACBF;
}

.main-heading {
	font-family: 'Lora', serif;
}

.nav-item:hover {
	background-color: #D94E4E;
}

.nav-link {
	font-size: 1.1rem;
	font-weight: bolder;
}

/*.navbar-toggler-icon{
	background-color: #D94E4E;
}*/

.navbar-toggler {
	background-color: #D95F76;
}

.carousel-item img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center;
}

.welcome {
	font-size: 3rem;
	text-align: left;
	color: #D94E4E;
	font-weight: bolder;
	font-kerning: auto;
}

.intro {
	font-size: 2rem;
	text-align: left;
	margin-bottom: 200px;
	color: white;
	font-weight: bold;
}

.jumbotron {
	height: 100vh;
	background-color: #54ACBF;
}

.aboutme {
	color: #D94E4E;
	font-weight: bolder;
	text-align: center;
	font-size: 2rem;
	margin-top: 5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mystory {
	color: white;
	font-size: 1rem;
	padding-bottom: 50px;
	font-weight: bold;
}

.icon {
	height: 48px;
    width: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
	background-color: #B6E7F2;
    border-radius: 6px;
    color: black;
    display: block;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.skill-heading {
	color: #D94E4E;
	font-weight: bolder;
}

.skill {
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1.5rem;
	
}

.tools {
	list-style: none;
	text-align: center;
}

.myproject {
	color: #D94E4E;
	font-weight: bolder;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

.box2 {
	background-color: #B6E7F2;
    border-radius: 6px;
    color: black;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.box2:hover {
	border: 2px solid #D94E4E;
}

#contact {
	margin: 1rem;
		color: #D94E4E;
		font-weight: bolder;
		text-align: center;
		font-size: 2rem;
		margin-top: 5rem;
		padding-top: 20px;
		padding-bottom: 20px;
}

#contact2 {
	color: black;
	font-weight: bold;
}

form .detail {
	margin-top: 5rem;
}


.box3 {
		background-color: #B6E7F2;
	    border-radius: 6px;
	    
	    padding: 1.25rem;
	    margin-bottom: 1.25rem;
}

.box4 {
		background-color: #D95F76;
		margin-top: 2rem;
		padding-top: 1rem;

}

.logofooter {
	display: block;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 100px;
	  width: 100px;
	  height: 100px;
}

.textfooter {
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

.fab {
	padding: .5rem;
}

footer > .box4 a {
color: inherit;
}